@model IEnumerable<TSTSEF.Models.Agressor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div class="row">
    <div class="col-md-4">
        
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
    <div class="col-md-8">
        @using (Ajax.BeginForm(
            "FindAgressors", "Agressors",
             new AjaxOptions {
                 HttpMethod = "get",
                 InsertionMode=InsertionMode.Replace,
                 UpdateTargetId = "AgressorsList"
             }))
        {
            <input type="search" name="aggresor"  />
            <input type="submit" value="Find Aggresor"/>
        }
        </div>
    </div>

@Html.Partial("_Agressors",Model)
